import(ggplot2)
importFrom("gtools", "permutations")
importFrom("utils", "data")
importFrom("stats", "lm", "coef", "vcov", "pt")
importFrom("grDevices", "col2rgb", "hcl")

export(simple.slopes, sig.region)
S3method(print, simple.slopes)
S3method(print, sig.region)
S3method(plot, simple.slopes)
S3method(plot, sig.region)